// RESPONSIVE
// --------------------------------------------------

@media (max-width: 992px) {
    .sidebar {
      display: none;
    }
  
    .content-area {
      margin-left: 0;
    }
  }
  
  @media (max-width: 576px) {
    .stat-card h2 {
      font-size: 26px;
    }
  
    .topbar h3 {
      font-size: 20px;
    }
  }
  